<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="person">
            <h2><span>{{ person.name }} {{ person.surname }}</span> </h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Country of Origin : </span></dt>
                <dd>
                    <span>{{ person.country }}</span>
                </dd>
                <dt><span> Films </span></dt>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item" style="border-top: 0 none; border-bottom: 0 none"
                        *ngFor="let film of films">
                        <div
                            routerLink="/film/{{film.id}}/view">  {{film.title}}</div>
                    </li>
                </ul>
<!--                <label (click)="test()"> TEST ME</label>-->
            </dl>
        </div>
    </div>
</div>
