<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-container-heading">Create or edit a Person Container</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_role">Role</label>
                    <select class="form-control" name="role" formControlName="role" id="field_role">
                        <option value="ACTOR">ACTOR</option>
                        <option value="DIRECTOR">DIRECTOR</option>
                        <option value="PRODUCER">PRODUCER</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" formControlName="personId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackById">{{ personOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_film">Film</label>
                    <select class="form-control" id="field_film" name="film" formControlName="filmId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="filmOption.id" *ngFor="let filmOption of films; trackBy: trackById">{{ filmOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
