<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="review">
            <h2><span>Review</span> {{ review.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ review.title }}</span>
                </dd>
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{ review.text }}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{ review.value }}</span>
                </dd>
                <dt><span>Film</span></dt>
                <dd>
                    <div *ngIf="review.filmId">
                        <a [routerLink]="['/film', review.filmId, 'view']">{{ review.filmId }}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ review.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/review', review.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
